.aboutPrincipal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.personalImage {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.acercaDe {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.894);
    width: 600px;
    padding: 2%;
    border-radius: 5px;
    align-items: center;
}