.searchBar {
    margin: 20px;
}

.botonSearchBar {
    height: 25px;
    width: auto;
    margin-left: 10px;
    background-color: #003f5c;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.barraBusqueda {
    height: 25px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid black;
}
