.navBar {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: flex-end;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

.boton {
    height: 25px;
    width: auto;
    margin-left: 10px;
    background-color: #003f5c;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.botonLogOut {
    height: 25px;
    width: auto;
    margin-left: 10px;
    background-color: #be0202;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
};
